

```
Statistics 
```
This is a technique that is used in gettig the understanding of the data.

this is a set of algorithms applied for getting the knowledge of the dataset and also analyse the datapoiunts and also we can use to undertsnad the properties of the dataset.

###This can provide insights or may mislead thus we need a to nalyse dataset in a beginners mindset and also we should always give a diffrent approach in order to undestan the new dataset.

This ismultidisciplinary the idealogy and the methodologies to solve the problem comes from the diffrent datasets and also they come from the diffrent perspectives.

*Summarizing and making the data comprethenise will be the task of the statistics and also making a ground breaking design of the algorithm involved and also we will have the new set of the code that we will be evolving in the span of the time(that is each and every dataset is a new probelm statement )*


Statistics will porovide an meaningfull insight for the data that has to be assesed.These techniques are build on a meaningful frameworks and also they are built for the 


uncertainity is is always seen in a dataset the discripancy will also be learnt and deployed model need a professional and theortical insights.



The central datapoint is being examined every time for the analysis of the data and also we also study the variation in the dataset.


Statistics is also a art of forecasting and also this is a study to get the knowledge of the analysis of the rigerous approaches and also measure the difficult to design concepts and also used in assesing quality and the quantity.


Statistics can give you a related approch for the tradeoff in the data collected and also the less data problem is solved.

Stories from numbers and every value it can be a error it an be a falw that falw too might have a datapoint hidden.


Dara can be images numbers words json 


florence nighthingale



https://flowingdata.com/2015/12/15/a-day-in-the-life-of-americans/

https://flowingdata.com/2017/05/17/american-workday/

https://flowingdata.com/2015/11/30/most-common-use-of-time-by-age-and-sex/

Organic/process data


IID - independent and identically distributed

IVQ review 


study design


Exploratory vs confirmative
comparative and non comparative
observational and experimental


confirmatory a falsiable hypothesis.

exploratory: collect the data for the pre specifiable question.

overfitting multiple testing and p hacking

non comparitive research : estimating or predicting absolute quantities  ~not explicitly comparitive


impact of the data.
implication of the experimental of the observational design.

power analysis and bias.

The following data types can be used in base python:
* **boolean**
* **integer**
* **float**
* **string**
* **list**
* **None**
* **complex**
* **object**
* **set**
* **dictionary**

In [ ]:
import math

In [ ]:
type(1)

int

In [ ]:
type(10)

int

In [ ]:
type(1000)

int

In [ ]:
type(10**10)

int

In [ ]:
number = [1,2,33,4,5]
mean = sum(number)/len(number)

In [ ]:
number = [1,2,33,4,5]
mean = math.sin(number)

TypeError: ignored

In [ ]:
number = [1,2,33,4,5]
mean = math.sin(number[2])

In [ ]:
mean

0.9999118601072672

In [ ]:
type(math.pi)

float

In [ ]:
print(math.pi)

3.141592653589793

### Categorical or Qualitative
* Nominal
    * Boolean (bool)
    * String (str)
    * None (NoneType)
* Ordinal
    * Only defined by how you use the data
    * Often important when creating visuals
    * Lists can hold ordinal information because they have indices

In [ ]:
type(True)

bool

so lets do some boollean datastypes

In [ ]:
True = 1

SyntaxError: ignored

In [ ]:
True = True

SyntaxError: ignored

In [ ]:
True

True

In [ ]:
False

False

In [ ]:
test = [Treu,2.2,2,10,math.pi]

NameError: ignored

In [ ]:
test = [True,2.2,2,10,math.pi]

In [ ]:
if(test[0] == True):
    print("a true value yay")

a true value yay

In [ ]:
if(test[0] == True):
    print("a true value yay")
    break

SyntaxError: ignored

In [ ]:
if(test[0] == True):
    print("a true value yay")
    pass
else:
    print("not true")

a true value yay

In [ ]:
listofelements = [True,"yes",6>5,10.10,math.pi]
for i in listofelements:
    print(type(i))

<class 'bool'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'float'>

In [ ]:
type(6<5)

bool

In [ ]:
is 6<5

SyntaxError: ignored

In [ ]:
listofelements = [True,"yes",6>5,10.10,math.pi,6<5]
for i in listofelements:
    print(type(i))

<class 'bool'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'float'>
<class 'bool'>

In [ ]:
listofelements = [True,"yes",6>5,10.10,math.pi,6<5]
for i in listofelements:
    print(i)

True
yes
True
10.1
3.141592653589793
False

string

In [ ]:
print("vishwas")

vishwas

In [ ]:
print("vishwas")

vishwas

In [ ]:
print("vishwas \n vishwas")

vishwas
 vishwas

In [ ]:
print('"vishwas \n vishwas"')

"vishwas
 vishwas"

In [ ]:
"'vishwas \n vishwas'"

"'vishwas \n vishwas'"

In [ ]:
print(r'vishwas \n vishwas')

vishwas \n vishwas

In [ ]:
print(r'vishwas\nvishwas')

vishwas\nvishwas

In [ ]:
type("math.pi")

str

In [ ]:
strings = ["dog","cat","fish"]

In [ ]:
sum(strings)/len(strings)

TypeError: ignored

In [ ]:
sum(strings[0])/len(strings)

TypeError: ignored

In [ ]:
print?

In [ ]:
type(print)

builtin_function_or_method

In [ ]:
print("".format('c'))

In [ ]:
print("".format(None = 'c'))

SyntaxError: ignored

In [ ]:
a = 2
_

builtin_function_or_method

In [ ]:
_

builtin_function_or_method

In [ ]:
text = "i am a soldier."
print(text.format(soldier = "c"))

i am a soldier.

In [ ]:
text = "i am a soldier.{t :0.25f} t"
print(text.format(tanda = "c"))

KeyError: ignored

In [ ]:
txt = "For only {price:1.2f} ambanie stocks!"
print(txt.format(price = 49000))

For only 49000.00 ambanie stocks!

In [ ]:
print("{}".format(20))

20

In [ ]:
listofelements.sort()

TypeError: ignored

In [ ]:
stringlist = ["amanda","julie","petra","aman"]
stringlist.sort()

In [ ]:
stringlist

['aman', 'amanda', 'julie', 'petra']

# Python Libraries

Python, like other programming languages, has an abundance of additional modules or libraries that augument the base framework and functionality of the language.

Think of a library as a collection of functions that can be accessed to complete certain programming tasks without having to write your own algorithm.

For this course, we will focus primarily on the following libraries:

* **Numpy** is a library for working with arrays of data.

* **Pandas** provides high-performance, easy-to-use data structures and data analysis tools.

* **Scipy** is a library of techniques for numerical and scientific computing.I will also use it for the computer vision.

* **Matplotlib** is a library for making graphs.

* **Seaborn** is a higher-level interface to Matplotlib that can be used to simplify many graphing tasks.

* **Statsmodels** is a library that implements many statistical techniques.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
a_list_elemets = [1,2,3,4,5,6,7]

In [ ]:
a_matrix_array = np.array([1,2,3,4,5,6,7])

In [ ]:
a_matrix_array

array([1, 2, 3, 4, 5, 6, 7])

In [ ]:
type(a_list_elemets)

list

In [ ]:
type(a_matrix_array)

numpy.ndarray

#git is supported

In [ ]:
!git clone https://github.com/vishwas1234567/csv_datasets.git

fatal: destination path 'csv_datasets' already exists and is not an empty directory.

In [ ]:
dataset1 = "/content/csv_datasets/Cartwheeldata.csv"

In [ ]:
dataframe_dataset1 = pd.read_csv(dataset1)

In [ ]:
dataframe_dataset1

    ID  Age Gender  GenderGroup  ... CWDistance  Complete  CompleteGroup  Score
0    1   56      F            1  ...         79         Y              1      7
1    2   26      F            1  ...         70         Y              1      8
2    3   33      F            1  ...         85         Y              1      7
3    4   39      F            1  ...         87         Y              1     10
4    5   27      M            2  ...         72         N              0      4
5    6   24      M            2  ...         81         N              0      3
6    7   28      M            2  ...        107         Y              1     10
7    8   22      F            1  ...         98         Y              1      9
8    9   29      M            2  ...        106         N              0      5
9   10   33      F            1  ...         65         Y              1      8
10  11   30      M            2  ...         96         Y              1      6
11  12   28      F            1  ...         79         Y              1     10
12  13   25      F            1  ...         92         Y              1      6
13  14   23      F            1  ...         66         Y              1      4
14  15   31      M            2  ...         72         Y              1      9
15  16   26      M            2  ...        115         Y              1      6
16  17   26      F            1  ...         90         N              0     10
17  18   27      M            2  ...         74         Y              1      5
18  19   23      M            2  ...         64         Y              1      3
19  20   24      F            1  ...         85         Y              1      8
20  21   23      M            2  ...         66         N              0      2
21  22   29      M            2  ...        101         Y              1      8
22  23   25      M            2  ...         82         Y              1      4
23  24   26      M            2  ...         63         Y              1      5
24  25   23      F            1  ...         67         N              0      3

[25 rows x 12 columns]

In [ ]:
type(dataframe_dataset1)

pandas.core.frame.DataFrame

In [ ]:
dataframe_dataset1.head()

   ID  Age Gender  GenderGroup  ... CWDistance  Complete  CompleteGroup  Score
0   1   56      F            1  ...         79         Y              1      7
1   2   26      F            1  ...         70         Y              1      8
2   3   33      F            1  ...         85         Y              1      7
3   4   39      F            1  ...         87         Y              1     10
4   5   27      M            2  ...         72         N              0      4

[5 rows x 12 columns]

In [ ]:
dataframe_dataset1.head

<bound method NDFrame.head of     ID  Age Gender  GenderGroup  ... CWDistance  Complete  CompleteGroup  Score
0    1   56      F            1  ...         79         Y              1      7
1    2   26      F            1  ...         70         Y              1      8
2    3   33      F            1  ...         85         Y              1      7
3    4   39      F            1  ...         87         Y              1     10
4    5   27      M            2  ...         72         N              0      4
5    6   24      M            2  ...         81         N              0      3
6    7   28      M            2  ...        107         Y              1     10
7    8   22      F            1  ...         98         Y              1      9
8    9   29      M            2  ...        106         N              0      5
9   10   33      F            1  ...         65         Y              1      8
10  11   30      M            2  ...         96         Y              1      6
11  12   28      F            1  ...         79         Y              1     10
12  13   25      F            1  ...         92         Y              1      6
13  14   23      F            1  ...         66         Y              1      4
14  15   31      M            2  ...         72         Y              1      9
15  16   26      M            2  ...        115         Y              1      6
16  17   26      F            1  ...         90         N              0     10
17  18   27      M            2  ...         74         Y              1      5
18  19   23      M            2  ...         64         Y              1      3
19  20   24      F            1  ...         85         Y              1      8
20  21   23      M            2  ...         66         N              0      2
21  22   29      M            2  ...        101         Y              1      8
22  23   25      M            2  ...         82         Y              1      4
23  24   26      M            2  ...         63         Y              1      5
24  25   23      F            1  ...         67         N              0      3

[25 rows x 12 columns]>

In [ ]:
dataframe_dataset1

    ID  Age Gender  GenderGroup  ... CWDistance  Complete  CompleteGroup  Score
0    1   56      F            1  ...         79         Y              1      7
1    2   26      F            1  ...         70         Y              1      8
2    3   33      F            1  ...         85         Y              1      7
3    4   39      F            1  ...         87         Y              1     10
4    5   27      M            2  ...         72         N              0      4
5    6   24      M            2  ...         81         N              0      3
6    7   28      M            2  ...        107         Y              1     10
7    8   22      F            1  ...         98         Y              1      9
8    9   29      M            2  ...        106         N              0      5
9   10   33      F            1  ...         65         Y              1      8
10  11   30      M            2  ...         96         Y              1      6
11  12   28      F            1  ...         79         Y              1     10
12  13   25      F            1  ...         92         Y              1      6
13  14   23      F            1  ...         66         Y              1      4
14  15   31      M            2  ...         72         Y              1      9
15  16   26      M            2  ...        115         Y              1      6
16  17   26      F            1  ...         90         N              0     10
17  18   27      M            2  ...         74         Y              1      5
18  19   23      M            2  ...         64         Y              1      3
19  20   24      F            1  ...         85         Y              1      8
20  21   23      M            2  ...         66         N              0      2
21  22   29      M            2  ...        101         Y              1      8
22  23   25      M            2  ...         82         Y              1      4
23  24   26      M            2  ...         63         Y              1      5
24  25   23      F            1  ...         67         N              0      3

[25 rows x 12 columns]

In [ ]:
dataframe_dataset1.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [ ]:
dataframe_dataset1.loc?

In [ ]:
type(dataframe_dataset1.loc)

pandas.core.indexing._LocIndexer

In [ ]:
dataframe_dataset1.loc[:,"CWDistance"]

0      79
1      70
2      85
3      87
4      72
5      81
6     107
7      98
8     106
9      65
10     96
11     79
12     92
13     66
14     72
15    115
16     90
17     74
18     64
19     85
20     66
21    101
22     82
23     63
24     67
Name: CWDistance, dtype: int64

In [ ]:
dataframe_dataset1.loc[23,"CWDistance"]

63

In [ ]:
dataframe_dataset1.loc[:,"Gender"]

0     F
1     F
2     F
3     F
4     M
5     M
6     M
7     F
8     M
9     F
10    M
11    F
12    F
13    F
14    M
15    M
16    F
17    M
18    M
19    F
20    M
21    M
22    M
23    M
24    F
Name: Gender, dtype: object

In [ ]:
len(dataframe_dataset1.loc[:,"Gender"])

25

In [ ]:
dataframe_dataset1.loc[:,['Complete', 'CompleteGroup']]

   Complete  CompleteGroup
0         Y              1
1         Y              1
2         Y              1
3         Y              1
4         N              0
5         N              0
6         Y              1
7         Y              1
8         N              0
9         Y              1
10        Y              1
11        Y              1
12        Y              1
13        Y              1
14        Y              1
15        Y              1
16        N              0
17        Y              1
18        Y              1
19        Y              1
20        N              0
21        Y              1
22        Y              1
23        Y              1
24        N              0

In [ ]:
dataframe_dataset1.loc[:6,"CWDistance"]

0     79
1     70
2     85
3     87
4     72
5     81
6    107
Name: CWDistance, dtype: int64

In [ ]:
dataframe_dataset1.loc[2:6,"CWDistance"]

2     85
3     87
4     72
5     81
6    107
Name: CWDistance, dtype: int64

In [ ]:
dataframe_dataset1.iloc?

In [ ]:
type(dataframe_dataset1.iloc)

pandas.core.indexing._iLocIndexer

In [ ]:
dataframe_dataset1.iloc[:4]

   ID  Age Gender  GenderGroup  ... CWDistance  Complete  CompleteGroup  Score
0   1   56      F            1  ...         79         Y              1      7
1   2   26      F            1  ...         70         Y              1      8
2   3   33      F            1  ...         85         Y              1      7
3   4   39      F            1  ...         87         Y              1     10

[4 rows x 12 columns]

In [ ]:
dataframe_dataset1.iloc[:25]

    ID  Age Gender  GenderGroup  ... CWDistance  Complete  CompleteGroup  Score
0    1   56      F            1  ...         79         Y              1      7
1    2   26      F            1  ...         70         Y              1      8
2    3   33      F            1  ...         85         Y              1      7
3    4   39      F            1  ...         87         Y              1     10
4    5   27      M            2  ...         72         N              0      4
5    6   24      M            2  ...         81         N              0      3
6    7   28      M            2  ...        107         Y              1     10
7    8   22      F            1  ...         98         Y              1      9
8    9   29      M            2  ...        106         N              0      5
9   10   33      F            1  ...         65         Y              1      8
10  11   30      M            2  ...         96         Y              1      6
11  12   28      F            1  ...         79         Y              1     10
12  13   25      F            1  ...         92         Y              1      6
13  14   23      F            1  ...         66         Y              1      4
14  15   31      M            2  ...         72         Y              1      9
15  16   26      M            2  ...        115         Y              1      6
16  17   26      F            1  ...         90         N              0     10
17  18   27      M            2  ...         74         Y              1      5
18  19   23      M            2  ...         64         Y              1      3
19  20   24      F            1  ...         85         Y              1      8
20  21   23      M            2  ...         66         N              0      2
21  22   29      M            2  ...        101         Y              1      8
22  23   25      M            2  ...         82         Y              1      4
23  24   26      M            2  ...         63         Y              1      5
24  25   23      F            1  ...         67         N              0      3

[25 rows x 12 columns]

In [ ]:
dataframe_dataset1.iloc[:24]

    ID  Age Gender  GenderGroup  ... CWDistance  Complete  CompleteGroup  Score
0    1   56      F            1  ...         79         Y              1      7
1    2   26      F            1  ...         70         Y              1      8
2    3   33      F            1  ...         85         Y              1      7
3    4   39      F            1  ...         87         Y              1     10
4    5   27      M            2  ...         72         N              0      4
5    6   24      M            2  ...         81         N              0      3
6    7   28      M            2  ...        107         Y              1     10
7    8   22      F            1  ...         98         Y              1      9
8    9   29      M            2  ...        106         N              0      5
9   10   33      F            1  ...         65         Y              1      8
10  11   30      M            2  ...         96         Y              1      6
11  12   28      F            1  ...         79         Y              1     10
12  13   25      F            1  ...         92         Y              1      6
13  14   23      F            1  ...         66         Y              1      4
14  15   31      M            2  ...         72         Y              1      9
15  16   26      M            2  ...        115         Y              1      6
16  17   26      F            1  ...         90         N              0     10
17  18   27      M            2  ...         74         Y              1      5
18  19   23      M            2  ...         64         Y              1      3
19  20   24      F            1  ...         85         Y              1      8
20  21   23      M            2  ...         66         N              0      2
21  22   29      M            2  ...        101         Y              1      8
22  23   25      M            2  ...         82         Y              1      4
23  24   26      M            2  ...         63         Y              1      5

[24 rows x 12 columns]

In [ ]:
dataframe_dataset1.iloc[:25+1]

    ID  Age Gender  GenderGroup  ... CWDistance  Complete  CompleteGroup  Score
0    1   56      F            1  ...         79         Y              1      7
1    2   26      F            1  ...         70         Y              1      8
2    3   33      F            1  ...         85         Y              1      7
3    4   39      F            1  ...         87         Y              1     10
4    5   27      M            2  ...         72         N              0      4
5    6   24      M            2  ...         81         N              0      3
6    7   28      M            2  ...        107         Y              1     10
7    8   22      F            1  ...         98         Y              1      9
8    9   29      M            2  ...        106         N              0      5
9   10   33      F            1  ...         65         Y              1      8
10  11   30      M            2  ...         96         Y              1      6
11  12   28      F            1  ...         79         Y              1     10
12  13   25      F            1  ...         92         Y              1      6
13  14   23      F            1  ...         66         Y              1      4
14  15   31      M            2  ...         72         Y              1      9
15  16   26      M            2  ...        115         Y              1      6
16  17   26      F            1  ...         90         N              0     10
17  18   27      M            2  ...         74         Y              1      5
18  19   23      M            2  ...         64         Y              1      3
19  20   24      F            1  ...         85         Y              1      8
20  21   23      M            2  ...         66         N              0      2
21  22   29      M            2  ...        101         Y              1      8
22  23   25      M            2  ...         82         Y              1      4
23  24   26      M            2  ...         63         Y              1      5
24  25   23      F            1  ...         67         N              0      3

[25 rows x 12 columns]

In [ ]:
dataframe_dataset1.iloc[:26]

    ID  Age Gender  GenderGroup  ... CWDistance  Complete  CompleteGroup  Score
0    1   56      F            1  ...         79         Y              1      7
1    2   26      F            1  ...         70         Y              1      8
2    3   33      F            1  ...         85         Y              1      7
3    4   39      F            1  ...         87         Y              1     10
4    5   27      M            2  ...         72         N              0      4
5    6   24      M            2  ...         81         N              0      3
6    7   28      M            2  ...        107         Y              1     10
7    8   22      F            1  ...         98         Y              1      9
8    9   29      M            2  ...        106         N              0      5
9   10   33      F            1  ...         65         Y              1      8
10  11   30      M            2  ...         96         Y              1      6
11  12   28      F            1  ...         79         Y              1     10
12  13   25      F            1  ...         92         Y              1      6
13  14   23      F            1  ...         66         Y              1      4
14  15   31      M            2  ...         72         Y              1      9
15  16   26      M            2  ...        115         Y              1      6
16  17   26      F            1  ...         90         N              0     10
17  18   27      M            2  ...         74         Y              1      5
18  19   23      M            2  ...         64         Y              1      3
19  20   24      F            1  ...         85         Y              1      8
20  21   23      M            2  ...         66         N              0      2
21  22   29      M            2  ...        101         Y              1      8
22  23   25      M            2  ...         82         Y              1      4
23  24   26      M            2  ...         63         Y              1      5
24  25   23      F            1  ...         67         N              0      3

[25 rows x 12 columns]

In [ ]:
dataframe_dataset1.iloc[:40]

    ID  Age Gender  GenderGroup  ... CWDistance  Complete  CompleteGroup  Score
0    1   56      F            1  ...         79         Y              1      7
1    2   26      F            1  ...         70         Y              1      8
2    3   33      F            1  ...         85         Y              1      7
3    4   39      F            1  ...         87         Y              1     10
4    5   27      M            2  ...         72         N              0      4
5    6   24      M            2  ...         81         N              0      3
6    7   28      M            2  ...        107         Y              1     10
7    8   22      F            1  ...         98         Y              1      9
8    9   29      M            2  ...        106         N              0      5
9   10   33      F            1  ...         65         Y              1      8
10  11   30      M            2  ...         96         Y              1      6
11  12   28      F            1  ...         79         Y              1     10
12  13   25      F            1  ...         92         Y              1      6
13  14   23      F            1  ...         66         Y              1      4
14  15   31      M            2  ...         72         Y              1      9
15  16   26      M            2  ...        115         Y              1      6
16  17   26      F            1  ...         90         N              0     10
17  18   27      M            2  ...         74         Y              1      5
18  19   23      M            2  ...         64         Y              1      3
19  20   24      F            1  ...         85         Y              1      8
20  21   23      M            2  ...         66         N              0      2
21  22   29      M            2  ...        101         Y              1      8
22  23   25      M            2  ...         82         Y              1      4
23  24   26      M            2  ...         63         Y              1      5
24  25   23      F            1  ...         67         N              0      3

[25 rows x 12 columns]

In [ ]:
dataframe_dataset1.info

<bound method DataFrame.info of     ID  Age Gender  GenderGroup  ... CWDistance  Complete  CompleteGroup  Score
0    1   56      F            1  ...         79         Y              1      7
1    2   26      F            1  ...         70         Y              1      8
2    3   33      F            1  ...         85         Y              1      7
3    4   39      F            1  ...         87         Y              1     10
4    5   27      M            2  ...         72         N              0      4
5    6   24      M            2  ...         81         N              0      3
6    7   28      M            2  ...        107         Y              1     10
7    8   22      F            1  ...         98         Y              1      9
8    9   29      M            2  ...        106         N              0      5
9   10   33      F            1  ...         65         Y              1      8
10  11   30      M            2  ...         96         Y              1      6
11  12   28      F            1  ...         79         Y              1     10
12  13   25      F            1  ...         92         Y              1      6
13  14   23      F            1  ...         66         Y              1      4
14  15   31      M            2  ...         72         Y              1      9
15  16   26      M            2  ...        115         Y              1      6
16  17   26      F            1  ...         90         N              0     10
17  18   27      M            2  ...         74         Y              1      5
18  19   23      M            2  ...         64         Y              1      3
19  20   24      F            1  ...         85         Y              1      8
20  21   23      M            2  ...         66         N              0      2
21  22   29      M            2  ...        101         Y              1      8
22  23   25      M            2  ...         82         Y              1      4
23  24   26      M            2  ...         63         Y              1      5
24  25   23      F            1  ...         67         N              0      3

[25 rows x 12 columns]>

In [ ]:
dataframe_dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             25 non-null     int64
 1   Age            25 non-null     int64
 2   Gender         25 non-null     object
 3   GenderGroup    25 non-null     int64
 4   Glasses        25 non-null     object
 5   GlassesGroup   25 non-null     int64
 6   Height         25 non-null     float64
 7   Wingspan       25 non-null     float64
 8   CWDistance     25 non-null     int64
 9   Complete       25 non-null     object
 10  CompleteGroup  25 non-null     int64
 11  Score          25 non-null     int64
dtypes: float64(2), int64(7), object(3)
memory usage: 2.5+ KB

In [ ]:
dataframe_dataset1.dtypes

ID                 int64
Age                int64
Gender            object
GenderGroup        int64
Glasses           object
GlassesGroup       int64
Height           float64
Wingspan         float64
CWDistance         int64
Complete          object
CompleteGroup      int64
Score              int64
dtype: object

In [ ]:
dataframe_dataset1.dtypes()

TypeError: ignored

In [ ]:
dataframe_dataset1.Gender.unique

<bound method Series.unique of 0     F
1     F
2     F
3     F
4     M
5     M
6     M
7     F
8     M
9     F
10    M
11    F
12    F
13    F
14    M
15    M
16    F
17    M
18    M
19    F
20    M
21    M
22    M
23    M
24    F
Name: Gender, dtype: object>

In [ ]:
dataframe_dataset1.Gender.unique()

array(['F', 'M'], dtype=object)

In [ ]:
dataframe_dataset1.CompleteGroup.unique()

array([1, 0])

In [ ]:
dataframe_dataset1.loc[:,['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score']]

    ID  Age Gender  GenderGroup  ... CWDistance  Complete  CompleteGroup  Score
0    1   56      F            1  ...         79         Y              1      7
1    2   26      F            1  ...         70         Y              1      8
2    3   33      F            1  ...         85         Y              1      7
3    4   39      F            1  ...         87         Y              1     10
4    5   27      M            2  ...         72         N              0      4
5    6   24      M            2  ...         81         N              0      3
6    7   28      M            2  ...        107         Y              1     10
7    8   22      F            1  ...         98         Y              1      9
8    9   29      M            2  ...        106         N              0      5
9   10   33      F            1  ...         65         Y              1      8
10  11   30      M            2  ...         96         Y              1      6
11  12   28      F            1  ...         79         Y              1     10
12  13   25      F            1  ...         92         Y              1      6
13  14   23      F            1  ...         66         Y              1      4
14  15   31      M            2  ...         72         Y              1      9
15  16   26      M            2  ...        115         Y              1      6
16  17   26      F            1  ...         90         N              0     10
17  18   27      M            2  ...         74         Y              1      5
18  19   23      M            2  ...         64         Y              1      3
19  20   24      F            1  ...         85         Y              1      8
20  21   23      M            2  ...         66         N              0      2
21  22   29      M            2  ...        101         Y              1      8
22  23   25      M            2  ...         82         Y              1      4
23  24   26      M            2  ...         63         Y              1      5
24  25   23      F            1  ...         67         N              0      3

[25 rows x 12 columns]

In [ ]:
dataframe_dataset1.loc[:,[ 'CWDistance', 'Complete', 'CompleteGroup',
       'Score']]

    CWDistance Complete  CompleteGroup  Score
0           79        Y              1      7
1           70        Y              1      8
2           85        Y              1      7
3           87        Y              1     10
4           72        N              0      4
5           81        N              0      3
6          107        Y              1     10
7           98        Y              1      9
8          106        N              0      5
9           65        Y              1      8
10          96        Y              1      6
11          79        Y              1     10
12          92        Y              1      6
13          66        Y              1      4
14          72        Y              1      9
15         115        Y              1      6
16          90        N              0     10
17          74        Y              1      5
18          64        Y              1      3
19          85        Y              1      8
20          66        N              0      2
21         101        Y              1      8
22          82        Y              1      4
23          63        Y              1      5
24          67        N              0      3

In [ ]:
dataframe_dataset1.loc[:,['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan' ]]

    ID  Age Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan
0    1   56      F            1       Y             1   62.00      61.0
1    2   26      F            1       Y             1   62.00      60.0
2    3   33      F            1       Y             1   66.00      64.0
3    4   39      F            1       N             0   64.00      63.0
4    5   27      M            2       N             0   73.00      75.0
5    6   24      M            2       N             0   75.00      71.0
6    7   28      M            2       N             0   75.00      76.0
7    8   22      F            1       N             0   65.00      62.0
8    9   29      M            2       Y             1   74.00      73.0
9   10   33      F            1       Y             1   63.00      60.0
10  11   30      M            2       Y             1   69.50      66.0
11  12   28      F            1       Y             1   62.75      58.0
12  13   25      F            1       Y             1   65.00      64.5
13  14   23      F            1       N             0   61.50      57.5
14  15   31      M            2       Y             1   73.00      74.0
15  16   26      M            2       Y             1   71.00      72.0
16  17   26      F            1       N             0   61.50      59.5
17  18   27      M            2       N             0   66.00      66.0
18  19   23      M            2       Y             1   70.00      69.0
19  20   24      F            1       Y             1   68.00      66.0
20  21   23      M            2       Y             1   69.00      67.0
21  22   29      M            2       N             0   71.00      70.0
22  23   25      M            2       N             0   70.00      68.0
23  24   26      M            2       N             0   69.00      71.0
24  25   23      F            1       Y             1   65.00      63.0

In [ ]:
dataframe_dataset1.loc[:,['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', ]]

    ID  Age Gender  GenderGroup Glasses  GlassesGroup  Height  Wingspan
0    1   56      F            1       Y             1   62.00      61.0
1    2   26      F            1       Y             1   62.00      60.0
2    3   33      F            1       Y             1   66.00      64.0
3    4   39      F            1       N             0   64.00      63.0
4    5   27      M            2       N             0   73.00      75.0
5    6   24      M            2       N             0   75.00      71.0
6    7   28      M            2       N             0   75.00      76.0
7    8   22      F            1       N             0   65.00      62.0
8    9   29      M            2       Y             1   74.00      73.0
9   10   33      F            1       Y             1   63.00      60.0
10  11   30      M            2       Y             1   69.50      66.0
11  12   28      F            1       Y             1   62.75      58.0
12  13   25      F            1       Y             1   65.00      64.5
13  14   23      F            1       N             0   61.50      57.5
14  15   31      M            2       Y             1   73.00      74.0
15  16   26      M            2       Y             1   71.00      72.0
16  17   26      F            1       N             0   61.50      59.5
17  18   27      M            2       N             0   66.00      66.0
18  19   23      M            2       Y             1   70.00      69.0
19  20   24      F            1       Y             1   68.00      66.0
20  21   23      M            2       Y             1   69.00      67.0
21  22   29      M            2       N             0   71.00      70.0
22  23   25      M            2       N             0   70.00      68.0
23  24   26      M            2       N             0   69.00      71.0
24  25   23      F            1       Y             1   65.00      63.0

In [ ]:
dataframe_dataset1.groupby(['Gender','GenderGroup']).size()

Gender  GenderGroup
F       1              12
M       2              13
dtype: int64

In [ ]:
dataframe_dataset1.groupby(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan']).size

In [ ]:
dataframe_dataset1.groupby(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan']).size()

ID  Age  Gender  GenderGroup  Glasses  GlassesGroup  Height  Wingspan
1   56   F       1            Y        1             62.00   61.0        1
2   26   F       1            Y        1             62.00   60.0        1
3   33   F       1            Y        1             66.00   64.0        1
4   39   F       1            N        0             64.00   63.0        1
5   27   M       2            N        0             73.00   75.0        1
6   24   M       2            N        0             75.00   71.0        1
7   28   M       2            N        0             75.00   76.0        1
8   22   F       1            N        0             65.00   62.0        1
9   29   M       2            Y        1             74.00   73.0        1
10  33   F       1            Y        1             63.00   60.0        1
11  30   M       2            Y        1             69.50   66.0        1
12  28   F       1            Y        1             62.75   58.0        1
13  25   F       1            Y        1             65.00   64.5        1
14  23   F       1            N        0             61.50   57.5        1
15  31   M       2            Y        1             73.00   74.0        1
16  26   M       2            Y        1             71.00   72.0        1
17  26   F       1            N        0             61.50   59.5        1
18  27   M       2            N        0             66.00   66.0        1
19  23   M       2            Y        1             70.00   69.0        1
20  24   F       1            Y        1             68.00   66.0        1
21  23   M       2            Y        1             69.00   67.0        1
22  29   M       2            N        0             71.00   70.0        1
23  25   M       2            N        0             70.00   68.0        1
24  26   M       2            N        0             69.00   71.0        1
25  23   F       1            Y        1             65.00   63.0        1
dtype: int64

In [ ]:
a = dataframe_dataset1.groupby(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan']).size()

In [ ]:
type(a)

pandas.core.series.Series

In [ ]:
dataframe_dataset1.shape

(25, 12)

In [ ]:
dataframe_dataset1.ndim

2

In [ ]:
dataframe_dataset1.nbytes

AttributeError: ignored

In [ ]:
series_for_CWDistance = dataframe_dataset1.loc[2:6,"CWDistance"]

In [ ]:
series_for_CWDistance.nbytes

In [ ]:
series_for_complete_CWDistance  =dataframe_dataset1.loc[:,"CWDistance"]

In [ ]:
series_for_complete_CWDistance.nbytes

In [ ]:
series_for_complete_CWDistance.is_unique

In [ ]:
series_for_complete_Gender  = dataframe_dataset1.loc[:,"Gender"]

In [ ]:
series_for_complete_Gender.is_unique

In [ ]:
series_for_complete_Height.is_monotonic

In [ ]:
series_for_complete_Gender.is_monotonic_increasing

In [ ]:
series_for_complete_Height  = dataframe_dataset1.loc[:,"Height"]

In [ ]:
series_for_complete_Height.is_monotonic_increasing

In [ ]:
series_for_complete_Height.is_monotonic_decreasing

In [ ]:
series_for_complete_Height.values

In [ ]:
series_for_complete_Height.size

In [ ]:
series_for_complete_Height_transpose = series_for_complete_Height.T

In [ ]:
series_for_complete_Height

In [ ]:
series_for_complete_Height_transpose

In [ ]:
type(series_for_complete_Height)

In [ ]:
series_for_complete_Height_array = series_for_complete_Height.array

In [ ]:
series_for_complete_Height_array

In [ ]:
type(series_for_complete_Height_array)

In [ ]:
arraymatrixheight = np.array(series_for_complete_Height_array)

In [ ]:
series_for_complete_Height.at?

In [ ]:
series_for_complete_Height.at

In [ ]:
dataframe_dataset1.iat[1,3]

In [ ]:
dataframe_dataset1.at[1,"Gender"]

In [ ]:
series_for_complete_Height.axes

In [ ]:
series_for_complete_Height_hasnans = series_for_complete_Height.hasnans

In [ ]:
series_for_complete_Height_hasnans

In [ ]:
series_for_complete_Height.index

In [ ]:
values_series_for_complete_Height = series_for_complete_Height.values

In [ ]:
type(values_series_for_complete_Height)

In [ ]:
series_for_complete_Height.abs

In [ ]:
series_for_complete_Height.abs()

In [ ]:
dataframe_dataset2 = pd.read_csv("/content/csv_datasets/nhanes_2015_2016.csv")

In [ ]:
dataframe_dataset2.shape

In [ ]:
dataframe_dataset2.columns

In [ ]:
dataframe_dataset2.dtypes

In [ ]:
w = dataframe_dataset2["DMDEDUC2"]
x = dataframe_dataset2.loc[:, "DMDEDUC2"]
y = dataframe_dataset2.DMDEDUC2
z = dataframe_dataset2.iloc[:, 9]

In [ ]:
dataframe_dataset2["DMDEDUC2"].max

In [ ]:
dataframe_dataset2.iloc[:,9].max

In [ ]:
pd.isnull(dataframe_dataset2)

In [ ]:
pd.isnull(dataframe_dataset2).sum()

In [ ]:
pd.isnull(dataframe_dataset2.iloc[3:5,5]).sum()

In [ ]:
pd.notnull(dataframe_dataset2.iloc[3:5,5]).sum()

In [ ]:
pd.notnull(dataframe_dataset2.iloc[:]).sum()

In [ ]:
result = []
for x in range(100):
    for y in range(10000):
        result.append((x,y))
        pass
print(result)

In [ ]:
result = []
for x in range(100):
    for y in range(10000):
        if((x*y)>100):
            result.append((x,y))

print(result)

In [ ]:
result

categorical data

share centre spread and outlayers

we need to analyse the standard score or the empherical score


https://www.nytimes.com/column/whats-going-on-in-this-graph

In [ ]:
import numpy as np
array_numerical_value = np.array([1,2,3])

In [ ]:
array_numerical_value

In [ ]:
array_numerical_value.shape

In [ ]:
array_numerical_value[0]

In [ ]:
array_numerical_value[1]

In [ ]:
array_numerical_value[2]

In [ ]:
two_dimensional_array = np.array([1,2,3],[4,5,6])

https://numpy.org/devdocs/user/basics.types.html

In [ ]:
two_dimensional_array = np.array([[1,2,3],[4,5,6]])

In [ ]:
two_dimensional_array.shape

In [ ]:
float_array_1 = np.array([[1,2,3,4],[5,6,7,8]],dtype=float)

In [ ]:
float_array_1_128bits = np.array([[1,2,3,4],[5,6,7,8]],dtype=np.float128)

In [ ]:
type(float_array_1_128bits)

In [ ]:
float_array_1_128bits.shape

In [ ]:
float_array_1_128bits.size

In [ ]:
float_array_1_128bits.nbytes

In [ ]:
x

In [ ]:
y

In [ ]:
np.add(x,y)

In [ ]:
np.subtract(x,y)

In [ ]:
np.multiply(x,y)

In [ ]:
np.divide(x,y)

In [ ]:
np.sqrt(x*y)

In [ ]:
np.sum(float_array_1,axis= 0)

In [ ]:
np.sum(float_array_1_128bits,axis = 0)

In [ ]:
np.mean(float_array_1_128bits)

In [ ]:
from scipy import stats
print(stats.norm.rvs(size = 10))

In [ ]:
dx = 0.1
array_within_2_to_5 = np.arange(2,5,dx)

In [ ]:
exp = array_within_2_to_5**2

In [ ]:
exp

In [ ]:
y = exp

In [ ]:
y/= (dx*y).sum()

In [ ]:
y

In [ ]:
cumsum_of_y = np.cumsum(y*dx)

In [ ]:
cumsum_of_y

https://www.mathworks.com/help/matlab/ref/cumsum.html

In [ ]:
from pylab import *
dx = .01
X  = np.arange(-2,2,dx)
Y  = exp(-X**2)
Y /= (dx*Y).sum()
CY = np.cumsum(Y*dx)
plot(X,Y)
plot(X,CY,'r--')
show()

In [ ]:
X.shape

In [ ]:
reshape_of_x = X.reshape(5,80)

In [ ]:
import matplotlib.pyplot as plt
plt.imshow(reshape_of_x)

In [ ]:
float_array_1_128bits

In [ ]:
array_converted_from_series = np.array(float_array_1_128bits)

In [ ]:
stats.norm.cdf(np.array([1,-1., 0, 1, 3, 4, -2, 6]))

https://www.itl.nist.gov/div898/handbook/eda/section3/eda362.htm

In [ ]:
import matplotlib.pyplot as plt
plt.imshow(float_array_1_128bits)

In [ ]:
import matplotlib.pyplot as plt
plt.imshow(arraymatrixheight.reshape(1,25))

In [ ]:
exp_array = arraymatrixheight**100
import matplotlib.pyplot as plt
plt.imshow(exp_array.reshape(1,25))

In [ ]:
import numpy as np
matrix_1 = np.arange(1,10*np.pi**2,0.001)

In [ ]:
matrix_1

array([ 1.   ,  1.001,  1.002, ..., 98.694, 98.695, 98.696])

In [ ]:
y = np.sin(matrix_1)

In [ ]:
y

In [ ]:
import matplotlib.pyplot as plt
plt.plot(matrix_1,y)

In [ ]:
cos_matrix = np.cos(matrix_1)

In [ ]:
plt.plot(matrix_1,cos_matrix)

In [ ]:
matrix_1.shape

In [ ]:
coloumn_matrix_reduced = 97697//4

In [ ]:
matrix_1_reshape= matrix_1.reshape(1,97697)

In [ ]:
plt.imshow(matrix_1_reshape)

In [ ]:
x = np.arange(0, 3 * np.pi, 0.1)
y_sin = np.sin(x)
y_cos = np.cos(x)
plt.plot(x, y_sin)
plt.plot(x, y_cos)
plt.xlabel('x axis label')
plt.ylabel('y axis label')
plt.title('Sine and Cosine')
plt.legend(['Sine', 'Cosine'])
plt.show()

In [ ]:
dataframe_dataset1

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")

In [ ]:
import seaborn as  sns
import pandas as pd

sns.lmplot(x = "Height",y = "Score",data = dataframe_dataset1 )

In [ ]:
dataframe_dataset1.columns

In [ ]:
sns.lmplot(x = "Height",y = "Age",data = dataframe_dataset1 )

In [ ]:
sns.lmplot(x = "Height",y = "Wingspan",data = dataframe_dataset1 )

In [ ]:
sns.lmplot(x = "Height",y = "CWDistance",data = dataframe_dataset1 )

In [ ]:
sns.lmplot(x='Wingspan', y='CWDistance', data=dataframe_dataset1,
           fit_reg=False, 
           hue='Gender')   
plt.show()

In [ ]:
sns.lmplot(x='Wingspan', y='CWDistance', data=dataframe_dataset1,
           fit_reg=False, 
           hue='GenderGroup')   
plt.show()

In [ ]:
sns.lmplot(x='Wingspan', y='CWDistance', data=dataframe_dataset1,
           fit_reg=False, 
           hue='Complete')   
plt.show()

In [ ]:
sns.lmplot(x='Age', y='Height', data=dataframe_dataset1,
           fit_reg=False, 
           hue='Gender')   
plt.show()

In [ ]:
sns.lmplot(x='Age', y='Height', data=dataframe_dataset1,
           fit_reg=False, 
           hue='Glasses')   
plt.show()

In [ ]:
sns.lmplot(x='Age', y='Height', data=dataframe_dataset1,
           fit_reg=False, 
           hue='GlassesGroup')   
plt.show()

In [ ]:
sns.lmplot(x='Age', y='Height', data=dataframe_dataset1,
           fit_reg=False, 
           hue='Score')   
plt.show()

# **Swarm plots**

In [ ]:
sns.swarmplot(x  = "Height",y = "CWDistance",data = dataframe_dataset1)

In [ ]:
sns.swarmplot(x  = "Height",y = "Age",data = dataframe_dataset1)

In [ ]:
sns.swarmplot(x  = "Height",y = "Glasses",data = dataframe_dataset1)

In [ ]:
sns.swarmplot(x  = "Age",y = "Glasses",data = dataframe_dataset1)

In [ ]:
sns.swarmplot(x  = "Age",y = "Gender",data = dataframe_dataset1)

# **boxplots**

In [ ]:
sns.boxplot(data=dataframe_dataset1.loc[:, ["Age", "Height", "Wingspan", "CWDistance", "Score"]])
plt.show()

In [ ]:
sns.boxplot(data=dataframe_dataset1.loc[dataframe_dataset1["Gender"] == 'M', ["Age", "Height", "Wingspan", "CWDistance", "Score"]])
plt.show()

In [ ]:
sns.boxplot(data=dataframe_dataset1.loc[dataframe_dataset1["Gender"] == 'F', ["Age", "Height", "Wingspan", "CWDistance", "Score"]])
plt.show()

In [ ]:
sns.boxplot(data=dataframe_dataset1.loc[dataframe_dataset1["Glasses"] == 'Y', ["Age", "Height", "Wingspan", "CWDistance", "Score"]])
plt.show()

In [ ]:
sns.boxplot(data=dataframe_dataset1.loc[dataframe_dataset1["Glasses"] == 'N', ["Age", "Height", "Wingspan", "CWDistance", "Score"]])
plt.show()

In [ ]:
sns.distplot(dataframe_dataset1.CWDistance)

In [ ]:
sns.distplot(dataframe_dataset1.Height)

In [ ]:
sns.distplot(dataframe_dataset1.Age)

In [ ]:
sns.distplot(dataframe_dataset1.Wingspan)

In [ ]:
sns.distplot(dataframe_dataset1.Score)

In [ ]:
sns.relplot?

In [ ]:
sns.relplot(x="Age", y="Height", sizes=(15, 200), data=dataframe_dataset1);

In [ ]:
tips = sns.load_dataset("tips")
sns.relplot(x="total_bill", y="tip", data=tips);

In [ ]:
sns.relplot(x="total_bill", y="tip", hue="smoker", data=tips);

In [ ]:
sns.relplot(x="total_bill", y="tip", hue="smoker", style="smoker",
            data=tips);

In [ ]:
sns.relplot(x="total_bill", y="tip", hue="smoker", style="time", data=tips);

In [ ]:
sns.relplot(x="total_bill", y="tip", hue="size", data=tips);

In [ ]:
sns.relplot(x="total_bill", y="tip", hue="size", palette="ch:r=-.5,l=.75", data=tips);

In [ ]:
sns.relplot(x="total_bill", y="tip", size="size", data=tips);

In [ ]:
sns.relplot(x="total_bill", y="tip", size="size", sizes=(15, 200), data=tips);

In [ ]:
df = pd.DataFrame(dict(time=np.arange(500),
                       value=np.random.randn(500).cumsum()))
g = sns.relplot(x="time", y="value", kind="line", data=df)
g.fig.autofmt_xdate()

In [ ]:
dataframe = pd.DataFrame(np.random.randn(500, 2).cumsum(axis=0), columns=["x", "y"])
sns.relplot(x = "x",y = "y",data = dataframe)

In [ ]:
dataframe = pd.DataFrame(np.random.randn(500, 2).cumsum(axis=0), columns=["x", "y"])
sns.relplot(x = "x",y = "y",kind = "line",data = dataframe)

In [ ]:
dataframe = pd.DataFrame(np.random.randn(500, 2).cumsum(axis=0), columns=["x", "y"])
sns.relplot(x = "x",y = "y",sort = False,kind = "line",data = dataframe)

In [ ]:
dataframe = pd.DataFrame(np.random.randn(500, 2).cumsum(axis=0), columns=["x", "y"])
sns.relplot(x = "x",y = "y",sort = True,kind = "line",data = dataframe)

In [ ]:
fmri = sns.load_dataset("fmri")
sns.relplot(x="timepoint", y="signal", kind="line", data=fmri);

In [ ]:
sns.relplot(x="timepoint", y="signal", estimator=None, kind="line", data=fmri);

In [ ]:
sns.relplot(x="timepoint", y="signal", hue="event", kind="line", data=fmri);

In [ ]:
sns.relplot(x="timepoint", y="signal",
            hue="region", style="event",
            kind="line", data=fmri);

In [ ]:
dots = sns.load_dataset("dots").query("align == 'dots'")
sns.relplot(x="time", y="firing_rate",
            hue="coherence", style="choice",
            kind="line", data=dots);

In [ ]:
palette = sns.cubehelix_palette(light=.8, n_colors=6)
sns.relplot(x="time", y="firing_rate",
            hue="coherence", style="choice",
            palette=palette,
            kind="line", data=dots);

In [ ]:
from matplotlib.colors import LogNorm
palette = sns.cubehelix_palette(light=.7, n_colors=6)
sns.relplot(x="time", y="firing_rate",
            hue="coherence", style="choice",
            hue_norm=LogNorm(),
            kind="line", data=dots);

In [ ]:
sns.relplot(x="Age", y="Height",
            hue="Gender", style="Glasses",
            kind="line", data=dataframe_dataset1);

In [ ]:
dataframe_dataset2.DMDEDUC2.value_counts()

In [ ]:
dataframe_dataset2.DMDCITZN.value_counts()

In [ ]:
dataframe_dataset2.DMDHHSIZ.value_counts()

In [ ]:
dataframe_dataset2.DMDMARTL.value_counts()

In [ ]:
dataframe_dataset2.shape

In [ ]:
pd.isnull(dataframe_dataset2.DMDEDUC2).sum

In [ ]:
pd.isnull(dataframe_dataset2.DMDEDUC2).sum()

https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/DEMO_I.htm#DMDEDUC2

In [ ]:
dataframe_dataset2["DMDEDUC2x"] = dataframe_dataset2.DMDEDUC2.replace({1: "<9", 2: "9-11", 3: "HS/GED", 4: "Some college/AA", 5: "College", 
                                       7: "Refused", 9: "Don't know"})
dataframe_dataset2.DMDEDUC2x.value_counts()

In [ ]:
x = dataframe_dataset2.DMDEDUC2x.value_counts()  # x is just a name to hold this value temporarily
x / x.sum()

try exploring the data

we look for the associations with the univariate data

simpsons paradox

In [ ]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 100)

In [ ]:
waist_median = pd.Series.median(dataframe_dataset2)

In [ ]:
waist_median

In [ ]:
waist_median["BMXWAIST"]

In [ ]:
mean, cov = [0, 11], [(11, 11.5), (11.5, 1)]
data = np.random.multivariate_normal(mean, cov, 200)
df = pd.DataFrame(data, columns=["x", "y"])

In [ ]:
x, y = np.random.multivariate_normal(mean, cov, 1000).T
with sns.axes_style("white"):
    sns.jointplot(x=x, y=y, kind="hex", color="k");

In [ ]:
sns.jointplot(x="x", y="y", data=df);

In [ ]:
sns.jointplot(x="x", y="y", data=df, kind="kde");

In [ ]:
import numpy as np # for getting our distribution
import matplotlib.pyplot as plt # for plotting
import seaborn as sns; sns.set() # For a different plotting theme
mean = [15, 5]
r = input("Enter a value that you desire")
cov = [[1, r], [r, 1]]
x, y = x, y = np.random.multivariate_normal(mean, cov, 400).T
plt.figure(figsize=(10,5))
plt.subplot(1,2,1)
plt.hist(x = x, bins = 15)
plt.title("X")
plt.subplot(1,2,2)
plt.hist(x = y, bins = 15)
plt.title("Y")
plt.show()

In [ ]:
plt.figure(figsize=(15,15))
plt.subplot(2,2,2)
plt.scatter(x = x, y = y)
plt.title("Joint Distribution of X and Y")
plt.subplot(2,2,4)
plt.hist(x = x, bins = 15)
plt.title("Marginal Distribution of X")
plt.subplot(2,2,3)
plt.hist(x = series_for_complete_Height, bins = 15)
plt.title("Marginal Distribution of series height")
plt.subplot(2,2,1)
plt.hist(x = y, orientation = "horizontal", bins = 15)
plt.title("Marginal Distribution of Y")
plt.show()
# plt.subplot(2,2,3)
# plt.hist(x = series_for_complete_Height, bins = 15)
# plt.title("Marginal Distribution of X")

In [ ]:
f, ax = plt.subplots(figsize=(6, 6))
sns.kdeplot(df.x, df.y, ax=ax)
sns.rugplot(df.x, color="g", ax=ax)
sns.rugplot(df.y, vertical=True, ax=ax);

In [ ]:
f, ax = plt.subplots(figsize=(6, 6))
cmap = sns.cubehelix_palette(as_cmap=True, dark=0, light=1, reverse=True)
sns.kdeplot(df.x, df.y, cmap=cmap, n_levels=60, shade=True);

In [ ]:
f, ax = plt.subplots(figsize=(6, 6))
cmap = sns.cubehelix_palette(as_cmap=True, dark=0, light=1, reverse=True)
sns.kdeplot(series_for_complete_CWDistance, series_for_complete_Height, cmap=cmap, n_levels=60, shade=True);

In [ ]:
multipleplots = sns.FacetGrid(dataframe_dataset2, col="RIDRETH1",  row="RIAGENDR").map(plt.scatter, "BMXLEG", "BMXARML", alpha=0.5).add_legend()

In [ ]:
multipleplots.savefig("Output.png")

In [ ]:
plt.figure(figsize=(20, 5))
a = sns.violinplot(dataframe_dataset2.DMDMARTL, dataframe_dataset2.RIDAGEYR)

unit testing

In [ ]:
pd.Series.mean(dataframe_dataset2[dataframe_dataset2.RIDAGEYR > 60])

In [ ]:
pd.Series.median(dataframe_dataset2[dataframe_dataset2.RIDAGEYR > 60])

In [ ]:
pd.Series.sample(dataframe_dataset2[dataframe_dataset2.RIDAGEYR > 60])

In [ ]:
pd.Series.sample(dataframe_dataset2[dataframe_dataset2.RIDAGEYR < 60])

In [ ]:
pd.Series.sample(dataframe_dataset2[dataframe_dataset2.RIDAGEYR <= 60])

In [ ]:
pd.Series.sample(dataframe_dataset2[dataframe_dataset2.RIDAGEYR >= 60])

In [ ]:
pd.Series.sample(dataframe_dataset2[dataframe_dataset2.DMDCITZN >0.01])

Additional Deep-Dive Readings and Web Sites on Random Sampling and Sampling Distributions

    Kish, Leslie. (1965). Survey Sampling. Wiley.
    Lohr, Sharon. (1999). Sampling: Design and Analysis, Second Edition. Cengage Learning.
    Statistics How-To - Sampling Distribution: Definition, Types, Examples
    What is a Sampling Distribution?

In [ ]:
import seaborn as sns

In [ ]:
sns.set(style ="ticks" )

In [ ]:
tips = sns.load_dataset("tips")

In [ ]:
g= sns.FacetGrid(tips,col = "time")
g.map(plt.hist,"tip")

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
tips.sex

In [ ]:
tips.smoker

In [ ]:
sns.relplot(x="total_bill", y="tip", hue="smoker",
            col="time", data=tips);

In [ ]:
sns.relplot(x="timepoint", y="signal", hue="subject",
            col="region", row="event", height=3,
            kind="line", estimator=None, data=fmri);

In [ ]:
g = sns.FacetGrid(tips,col = "sex",hue = "smoker")

In [ ]:
g = sns.FacetGrid(tips, col="sex", hue="smoker")
g.map(plt.scatter, "total_bill", "tip", alpha=.7)
g.add_legend()

In [ ]:
sns.relplot(x="timepoint", y="signal", hue="event", style="event",
            col="subject", col_wrap=5,
            height=3, aspect=.75, linewidth=2.5,
            kind="line", data=fmri.query("region == 'frontal'"));

In [ ]:
g = sns.FacetGrid(tips, row="smoker", col="time", margin_titles=True)
g.map(sns.regplot, "size", "total_bill", color=".3", fit_reg=False, x_jitter=.1)

In [ ]:
g = sns.FacetGrid(tips, col="day", height=4, aspect=.5)
g.map(sns.barplot, "sex", "total_bill");

In [ ]:
ordered_days = tips.day.value_counts().index
g = sns.FacetGrid(tips, row="day", row_order=ordered_days,
                  height=1.7, aspect=4,)
g.map(sns.distplot, "total_bill", hist=False, rug=True);

In [ ]:
pal = dict(Lunch="seagreen", Dinner="gray")
g = sns.FacetGrid(tips, hue="time", palette=pal, height=5)
g.map(plt.scatter, "total_bill", "tip", s=50, alpha=.7, linewidth=.5, edgecolor="white")
g.add_legend()

In [ ]:
g = sns.FacetGrid(tips, hue="sex", palette="Set1", height=5, hue_kws={"marker": ["^", "v"]})
g.map(plt.scatter, "total_bill", "tip", s=100, linewidth=.5, edgecolor="white")
g.add_legend()

In [ ]:
attend = sns.load_dataset("attention").query("subject <= 12")
g = sns.FacetGrid(attend, col="subject", col_wrap=4, height=2, ylim=(0, 10))
g.map(sns.pointplot, "solutions", "score", order=[1, 2, 3], color=".3", ci=None)

In [ ]:
with sns.axes_style("white"):
    g = sns.FacetGrid(tips, row="sex", col="smoker", margin_titles=True, height=2.5)
g.map(plt.scatter, "total_bill", "tip", color="#334488", edgecolor="white", lw=.5);
g.set_axis_labels("Total bill (US Dollars)", "Tip");
g.set(xticks=[10, 30, 50], yticks=[2, 6, 10]);
g.fig.subplots_adjust(wspace=.02, hspace=.02);

In [ ]:
g = sns.FacetGrid(tips, col="smoker", margin_titles=True, height=4)
g.map(plt.scatter, "total_bill", "tip", color="#338844", edgecolor="white", s=50, lw=1)
for ax in g.axes.flat:
    ax.plot((0, 50), (0, .2 * 50), c=".2", ls="--")
g.set(xlim=(0, 60), ylim=(0, 14));

In [ ]:
from scipy import stats
def quantile_plot(x, **kwargs):
    qntls, xr = stats.probplot(x, fit=False)
    plt.scatter(xr, qntls, **kwargs)

g = sns.FacetGrid(tips, col="sex", height=4)
g.map(quantile_plot, "total_bill");

In [ ]:
def qqplot(x, y, **kwargs):
    _, xr = stats.probplot(x, fit=False)
    _, yr = stats.probplot(y, fit=False)
    plt.scatter(xr, yr, **kwargs)

g = sns.FacetGrid(tips, col="smoker", height=4)
g.map(qqplot, "total_bill", "tip");

In [ ]:
g = sns.FacetGrid(tips, hue="time", col="sex", height=4)
g.map(qqplot, "total_bill", "tip")
g.add_legend();

In [ ]:
g = sns.FacetGrid(tips, hue="time", col="sex", height=4,
                  hue_kws={"marker": ["s", "D"]})
g.map(qqplot, "total_bill", "tip", s=40, edgecolor="w")
g.add_legend();

In [ ]:
def hexbin(x, y, color, **kwargs):
    cmap = sns.light_palette(color, as_cmap=True)
    plt.hexbin(x, y, gridsize=15, cmap=cmap, **kwargs)

with sns.axes_style("dark"):
    g = sns.FacetGrid(tips, hue="time", col="time", height=4)
g.map(hexbin, "total_bill", "tip", extent=[0, 50, 0, 10]);

In [ ]:
iris = sns.load_dataset("iris")
g = sns.PairGrid(iris)
g.map(plt.scatter);

In [ ]:
g = sns.PairGrid(iris)
g.map_diag(plt.hist)
g.map_offdiag(plt.scatter);

In [ ]:
g = sns.PairGrid(iris, hue="species")
g.map_diag(plt.hist)
g.map_offdiag(plt.scatter)
g.add_legend();

In [ ]:
g = sns.PairGrid(iris, vars=["sepal_length", "sepal_width"], hue="species")
g.map(plt.scatter);

In [ ]:
g = sns.PairGrid(iris)
g.map_upper(plt.scatter)
g.map_lower(sns.kdeplot)
g.map_diag(sns.kdeplot, lw=3, legend=False);

In [ ]:
g = sns.PairGrid(tips, y_vars=["tip"], x_vars=["total_bill", "size"], height=4)
g.map(sns.regplot, color=".3")
g.set(ylim=(-1, 11), yticks=[0, 5, 10]);

In [ ]:
g = sns.PairGrid(tips, hue="size", palette="GnBu_d")
g.map(plt.scatter, s=50, edgecolor="white")
g.add_legend();

In [ ]:
sns.pairplot(iris, hue="species", height=2.5);

In [ ]:
g = sns.pairplot(iris, hue="species", palette="Set2", diag_kind="kde", height=2.5)